<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @waiting_list.email %>
</p>

<p>
  <b>Email sent:</b>
  <%= @waiting_list.email_sent %>
</p>

<p>
  <b>Email sent at:</b>
  <%= @waiting_list.email_sent_at %>
</p>


<%= link_to 'Edit', edit_waiting_list_path(@waiting_list) %> |
<%= link_to 'Back', waiting_lists_path %>
