<% @comments.each do |comment| %> 
	<i> <%= comment.user.first_name + " " + comment.user.last_name + "  says" if comment.user %> </i><br />
  <p> <%= comment.comment %> </p><br />
<% end %> 

<%= form_tag :action => 'comment' do  %>
	Comment: <br />
	<%= text_area 'comment', 'comment', :rows => 10, :class => 'input-xlarge' %><br />

	<%= submit_tag 'Add Comment' %>
	<%= hidden_field 'commentable', 'commentable_id', :value => @video.id %>
<% end  %>
