<h1>The Best Startup Pitches on the Web</h1>

    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        <% if current_user %>     
            <p> <%= video.votes_for %> | <%= link_to('Vote for this video!', vote_up_video_path(video), :method => :post) %> </p>
        <% else %> 
            <p> You need to join or login in order to vote </p>
        <% end %> 

        </div><!--/span4-->
    <% end %>


    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        <% if current_user %>     
            <p> <%= video.votes_for %> | <%= link_to('Vote for this video!', vote_up_video_path(video), :method => :post) %> </p>
        <% else %> 
            <p> You need to join or login in order to vote </p>
        <% end %> 

        </div><!--/span4-->
    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        <% if current_user %>     
            <p> <%= video.votes_for %> | <%= link_to('Vote for this video!', vote_up_video_path(video), :method => :post) %> </p>
        <% else %> 
            <p> You need to join or login in order to vote </p>
        <% end %> 

        </div><!--/span4-->
    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        <% if current_user %>     
            <p> <%= video.votes_for %> | <%= link_to('Vote for this video!', vote_up_video_path(video), :method => :post) %> </p>
        <% else %> 
            <p> You need to join or login in order to vote </p>
        <% end %> 

        </div><!--/span4-->
    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        <% if current_user %>     
            <p> <%= video.votes_for %> | <%= link_to('Vote for this video!', vote_up_video_path(video), :method => :post) %> </p>
        <% else %> 
            <p> You need to join or login in order to vote </p>
        <% end %> 

        </div><!--/span4-->
    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        <% if current_user %>     
            <p> <%= video.votes_for %> | <%= link_to('Vote for this video!', vote_up_video_path(video), :method => :post) %> </p>
        <% else %> 
            <p> You need to join or login in order to vote </p>
        <% end %> 

        </div><!--/span4-->
    <% end %>


