<h1>The Best Startup Pitches on the Web</h1>


    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p>
            <%= link_to "View Details", video_path(video.id), :class => "btn" %>
            <% if current_user %>     
                <span class="vote_tally"><%= video.votes_for %> </span> | <%= link_to( (image_tag "thumbs_up.png", :height => 25, :width => 25, :class => 'ratelink', :theid => video.id), vote_up_video_path(video), :method => :post) %> 
            <% else %> 
                You need to join or login in order to vote 
            <% end %> 
        </p> 

        </div><!--/span4-->
    <% end %>

    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p>
            <%= link_to "View Details", video_path(video.id), :class => "btn" %>
            <% if current_user %>     
                <%= video.votes_for %> | <%= link_to( (image_tag "thumbs_up.png", :height => 25, :width => 25), vote_up_video_path(video), :method => :post) %> 
            <% else %> 
                You need to join or login in order to vote 
            <% end %> 
        </p> 

        </div><!--/span4-->
    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p>
            <%= link_to "View Details", video_path(video.id), :class => "btn" %>
            <% if current_user %>     
                <%= video.votes_for %> | <%= link_to( (image_tag "thumbs_up.png", :height => 25, :width => 25), vote_up_video_path(video), :method => :post) %> 
            <% else %> 
                You need to join or login in order to vote 
            <% end %> 
        </p> 

        </div><!--/span4-->
    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p>
            <%= link_to "View Details", video_path(video.id), :class => "btn" %>
            <% if current_user %>     
                <%= video.votes_for %> | <%= link_to( (image_tag "thumbs_up.png", :height => 25, :width => 25), vote_up_video_path(video), :method => :post) %> 
            <% else %> 
                You need to join or login in order to vote 
            <% end %> 
        </p> 

        </div><!--/span4-->
    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p>
            <%= link_to "View Details", video_path(video.id), :class => "btn" %>
            <% if current_user %>     
                <%= video.votes_for %> | <%= link_to( (image_tag "thumbs_up.png", :height => 25, :width => 25), vote_up_video_path(video), :method => :post) %> 
            <% else %> 
                You need to join or login in order to vote 
            <% end %> 
        </p> 

        </div><!--/span4-->
    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p>
            <%= link_to "View Details", video_path(video.id), :class => "btn" %>
            <% if current_user %>     
                <%= video.votes_for %> | <%= link_to( (image_tag "thumbs_up.png", :height => 25, :width => 25), vote_up_video_path(video), :method => :post) %> 
            <% else %> 
                You need to join or login in order to vote 
            <% end %> 
        </p> 

        </div><!--/span4-->
    <% end %>


