<h1>The Best Startup Pitches on the Web</h1>

    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        </div><!--/span4-->

    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        </div><!--/span4-->

    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        </div><!--/span4-->

    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        </div><!--/span4-->

    <% end %>
    <% @videos.each do |video| %>
        <div class="span4">
        <h2><%= video.name %> </h2>

        <p><%= show_video(@yt_client, video) %>  </p>
        <p><%= link_to "View Details", video_path(video.id), :class => "btn" %> </p>
        </div><!--/span4-->

    <% end %>


