<p id="notice"><%= notice %></p>

<h1><%= @video.name %></h1>

<p>    
  <%= show_large_video(@yt_client, @video) %>

</p>

<p>
  <b>Summary:</b>
  <%= @video.summary %>
</p>

<p>
  <b>url:</b> 
  <a href="http://www.youtube.com/watch?v=<%= @video.youtube_id %>&feature=youtube_it" target="_blank">http://www.youtube.com/watch?v=<%= @video.youtube_id %></a>
</p>


<%= render 'comments' %> 


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'All Your Videos', users_videos_path %>
