<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> Gloopt.com</title>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31751448-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/png" href="favicon.ico" />
  <script type="text/javascript">var switchTo5x=true;</script>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Gloopt</a>
        <div class="container-fluid nav-collapse">
          <ul class="nav">
            <li style="margin-top: 5px; margin-right:10px; margin-left:-10px;">
              <%= image_tag "camera.png",  :alt => "camera_logo", :style => "margin:top: 2px; float:left;" %>
            </li>
            <% if user_signed_in? %>
              <% update_count = 0 %> 
              <% current_user.all_following.each  { |cu| %> 
                  <% if current_user.last_checked_followers < cu.videos.first.updated_at  %> 
                      <% update_count += 1 %> 
                  <% end %> 
              <% } %> 
              <li><%= link_to "All Videos", videos_path  %></li>
              <li><%= link_to "Your Videos", users_videos_path  %></li>
              <% follow_video_text = "Videos Followed" %> 
              <% follow_video_text += " ("+update_count.to_s+" new)" if (update_count > 0 ) %>

              <li><%= link_to follow_video_text, videos_following_path unless (current_user.follow_count == 0) %></li>
              <li><%= link_to "Invites Left: "+ current_user.invites_left.to_s, invites_path %></li>
              <li><%=  link_to 'Waiting List Admin Panel', waiting_lists_path  if current_user.is_admin %> </li>
            <% else %> 
              <li><%= link_to "Home", beta_path %></li>
              <li><%= link_to "About", users_about_path %></li>
            <% end %> 
          </ul>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li> <span class="text-on-navbar">Signed in as <%= current_user.full_name %>. Not you? </span> </li>
              <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
            <% else %>
              <li>
                <a href="/auth/linkedin" class="auth_provider" style="padding:0px;">
                  <%= image_tag "linkedin_signup_button.png",  :alt => "Linkedin", :width => 100, :style => "margin-top:2px;  margin-right:20px;" %>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/auth/linkedin" class="auth_provider">
                      <%= image_tag "linkedin_signin.png",  :alt => "Linkedin", :width => 200 %>
                    </a>
                  </li> 
                </ul>
              </li>

            <% end %>

          </ul>          
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>




  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
  <script>
$(document).ready(function() {
  $(function(){
    
    $('#video-container').masonry({
      itemSelector: '.item',
      columnWidth: 25
    });
    
  });
});
  </script>     

</body>
</html>
