<!DOCTYPE html>
<html>
<head>
  <title>Videoapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Videoapp</a>
        <div class="container-fluid nav-collapse">
          <ul class="nav">
            <% if user_signed_in? %>
              <li><%= link_to "All Videos", videos_path  %></li>
              <li><%= link_to "Your Videos", users_videos_path  %></li>
              <li><%= link_to "Invites Left: 3", invites_path %></li>
            <% else %> 
              <li><%= link_to "Home", root_path  %></li>
              <li><%= link_to "Join the Waiting List", "#" %> </li>
            <% end %> 
          </ul>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li> <span class="text-on-navbar">Signed in as <%= current_user.full_name %>. Not you? </span> </li>
              <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/auth/linkedin" class="auth_provider">
                      <%= image_tag "linkedin_signin.png",  :alt => "Linkedin" %>
                    </a>
                  </li> 
                </ul>
              </li>

            <% end %>

          </ul>          
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>




  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
