<!DOCTYPE html>
<html>
<head>
  <title>Gloopt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/png" href="favicon.ico" />

</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Gloopt</a>
        <div class="container-fluid nav-collapse">
          <ul class="nav">
            <% if user_signed_in? %>
              <% update_count = 0 %> 
              <% current_user.all_following.each  { |cu| %> 
                  <%= debug @user1 %> 
                  <% if current_user.last_checked_followers < cu.videos.first.updated_at  %> 
                      <% update_count += 1 %> 
                  <% end %> 
              <% } %> 
              <h1><%= update_count %></h1>
              <li><%= link_to "All Videos", videos_path  %></li>
              <li><%= link_to "Your Videos", users_videos_path  %></li>
              <li><%= link_to "Videos Followed (<%= updated_count %> new)", videos_following_path %> </li>
              <li><%= link_to "Invites Left: "+ current_user.invites_left.to_s, invites_path %></li>
              <li><%=  link_to 'Waiting List Admin Panel', waiting_lists_path  if current_user.is_admin %> </li>
            <% else %> 
              <li><%= link_to "Home", beta_path  %></li>
            <% end %> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>




  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
